@model IList<TravelAgency.Domain.DTO.BookingDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="container p-0 mt-5">
    <div class="row justify-content-center">
        @for (int i = 0; i < Model.Count; i++)
        {
            var item = Model[i]; 
            <div class="col-md-4 mb-4">
                <div class="invoice-box" style="border: 1px solid #ddd; border-radius: 10px; background-color: white; padding: 20px; height:105%">
                    <table width="100%" cellpadding="0" cellspacing="0">
                        <tbody>
                         
                            <tr>
                                <td style="text-align: left; font-size: 25px; font-weight: 700;">
                                    @{
                                        var random = new Random();
                                        var invoiceNumber = random.Next(10000, 99999); 
                                    }
                                    Invoice #@invoiceNumber 
                                   
                                </td>
                                
                                
                            </tr>
                            <tr>
                                <td style="text-align: left; font-size: 20px; font-weight: 700;">
                                    Travel package for: @item.travelPackageName
                                </td>
                                <td colspan="4" style="text-align: right; font-size: 16px; padding-top: 10px;">
                                    <strong>Bill To:</strong>  @item.username
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left; font-size: 14px; padding: 2px;">
                                    Departure Date: @item.DepartureDate.ToString("MMMM dd, yyyy")
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;font-size: 14px; padding: 2px;">
                                    Number of nights : @item.NumberOfNights
                                </td>
                               
                            </tr>
                            <tr>
                                <td style="text-align: left; font-size: 14px; padding: 2px;">
                                    Number of rooms : @item.numberOfRooms
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="invoice-items" width="100%" cellpadding="5" cellspacing="0" style="margin-top: 20px; border-collapse: collapse;">
                        <thead>
                            <tr style="background-color: #f8f8f8;">
                                <th style="text-align: left; padding: 8px; border-bottom: 1px solid #ddd;">Accommodation</th>
                                <th style="text-align: right; padding: 8px; border-bottom: 1px solid #ddd;">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style=" font-size: 14px; padding: 8px; border-bottom: 1px solid #ddd;">
                                        @item.accommodationName
                                </td>
                                <td style="text-align: right; padding: 8px; border-bottom: 1px solid #ddd;">$@item.PricePerNight.ToString("0.00") x @item.NumberOfNights x @item.numberOfRooms</td>
                            </tr>
                           
                            <tr class="total" style="font-weight: bold;">
                                <td style="padding: 8px; text-align: left; border-top: 2px solid #ddd;">Total</td>
                                <td style="text-align: right; padding: 8px; border-top: 2px solid #ddd;">$@item.FullPrice.ToString("0.00")</td>
                            </tr>
                        </tbody>
                    </table>

                    <a asp-controller="Bookings" asp-action="ExportPdfOfBooking" asp-route-bookingId="@item.BookingId" class=" mt-3 btn btn-secondary border-0" style="width:fit-content; background-color:#32a691">Export PDF</a>
                    <a asp-controller="Bookings" asp-action="PayOrder" asp-route-bookingId="@item.BookingId" class="mt-3 btn btn-secondary" style="width:fit-content; float:right">Pay Now</a>
                </div>
            </div>
        }
    </div>
</div>
@if (ViewData["showNotificationForSuccessfullyPaidBooking"] != null)
{
    <div class="alert-paid-order">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        You have successfully paid the booking!
    </div>
}


<script>
    // Get all elements with class="closebtn"
   
    var close = document.getElementsByClassName("closebtn");
    var i;

    // Loop through all close buttons
    for (i = 0; i < close.length; i++) {
        // When someone clicks on a close button
        close[i].onclick = function () {

            // Get the parent of <span class="closebtn"> (<div class="alert">)
            var div = this.parentElement;

            // Set the opacity of div to 0 (transparent)
            div.style.opacity = "0";

            // Hide the div after 600ms (the same amount of milliseconds it takes to fade out)
            setTimeout(function () { div.style.display = "none"; }, 600);
        }
    }
</script>