@model TravelAgency.Domain.DomainModels.Accommodation

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Accommodation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.accommodationType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.accommodationType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PricePerNight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PricePerNight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxNumberOfRooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxNumberOfRooms)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
